body {
  background-color: #FFDD39;
}

header {
  background-color: #FFEC8E;
  background-blend-mode: lighten;
  padding: 40px;
}

nav {
  width: 100%;
  min-height: 50px;
  background-color: #FF7400;
  font-family: 'Norican', cursive;
  font-style: none;
  line-height: 80px;
}

nav ul {
  margin-left: 30px;
  font-size: 24px;
  text-align: center;
  padding-right: 20px;
  text-align: center;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav a:hover {
  background-color: #fbcf61;
  min-height: 50px;
}


nav a:active {
  color: #FF4900;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 30px;
  text-transform: uppercase;
  text-shadow: 0px 0px #000000;
}


footer{
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  border-style: solid;
  border-color: #fbcf61;
  border-width: 2.5px;
}

h1 {
  font-family: 'Barlow', sans-serif;
  color: #FFFFFF ;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5em;
  font-size: 50px;
}

h2 {
  font-family: 'Barlow', sans-serif;
  color: #000000;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 0em;
  font-size: 20px;
  text-indent: 0em;
}

h3 {
  font-family: 'EuphoriaScript', cursive;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: .5em;
  font-size: 30px;
  text-indent: 0em;
}



.paragraph1, .paragraph2, .paragraph3{
  font-family: 'DancingScript', sans-serif;
  color: #000000;
  text-indent: 1.5em;
  font-size: 20px;
}

.paragraph1, .paragraph2, .paragraph3::first-letter {
  font-size: 1em;
}


p {
  display: block;
    -webkit-margin-before: .5em;
    -webkit-margin-after: .5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.review {
  color: black;
  font-family: 'DancingScript', sans-serif;
  font-style: none;
}

.content{
  color: black;
  font-family: 'DancingScript', sans-serif;
  font-style: none;
}

.funfact{
  color: black;
  font-family: 'DancingScript', sans-serif;
  font-style: italic;
}


.site-logo {
    font-size: 4em;
    float: center;
    padding: 0px 0px;
}

.site-logo img {
    height: 40px;
    width: 40px
}


.parentcontainer {
   width: 500px;
   height: 500px;
   background-color: #FB394B;
}
.parentcontainer h2 {
   font-size: x-large;
   font-weight: bolder;
   font-style: italic;
}
.innerbox {
   width: 300px;
   height: 300px;
   background-color: rgba(255,255,255,.5)
}

.button {
  font-family: 'EuphoriaScript', cursive;
  font-size: 1em;
  color: white;
  background-color: #95212c;
  border-color: #95212c;
  border-style: solid;
  position: relative;
  margin: auto;
  width: 9em;
  text-align: center;
}

.button:hover {
  color: #fbcf61;
  font-style: none;
}
